<form name="loginForm" ng-submit="login(credentials)" novalidate>

    <!-- email -->

    <label for="loginEmail">email</label>
    <input type="email" name="loginEmail" id="loginEmail" ng-model="credentials.email" required/>

    <!-- ERRORS -->
    <span ng-show="newPostForm.loginEmail.$error.required">Email required</span>

    <br>

    <!-- POST BODY -->

    <label for="loginPassword">password</label>
    <input type="password" name="loginPassword" id="loginPassword" ng-model="credentials.password" required/>
    <!-- ERRORS -->
    <span ng-show="newPostForm.loginPassword.$error.required">You need a password to log in</span>

    <br>

    <!-- SUBMIT -->
    <button type="submit" ng-disabled="loginForm.$invalid">Log In</button>

</form>